/* index.css */

/* Підключення світлої теми за замовчуванням */
@import './themes/light.css';

/* Підключення темної теми, якщо клас 'dark-theme' присутній у body */
body.dark-theme {
  @import './themes/dark.css';
}

/* Загальні стилі */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
